html 
    head 
        title=title 
    body 
        br
        br
        form(action="/api/create", method='POST')
            fieldset(style= 'align: center')
                label(for="fname") First name: 
                br 
                input#fname(type="text", name="fname" required)
                br
                label(for="lname") last name:  
                br
                input#lname(type="text", name="lname" required)
                br
                label(for="lname") Location:
                br  
                input#lname(type="text", name="location" required)
                br
                label(for="lname") Phone:
                br  
                input#lname(type="text", name="phone" required)
                br
                label(for="lname") Email:
                br  
                input#lname(type="text", name="Email" required)
                br
                label(for="lname") Date of Birth:
                br  
                input#lname(type="text", name="DOB" required)
                br
                br
                input(type="submit", value="submit") 
