html 
    head 
        title=title 
    body
        br
        form(action="/api/create", method='GET')
            input(type="submit", value="Create Employee")
        br
        form(action="/api/all", method='POST')
            input#vehicle1(type='checkbox' name='vehicle1' value='Bike')
            label(for='vehicle1')  I have a bike
            
            input#vehicle2(type='checkbox' name='vehicle2' value='Car')
            label(for='vehicle2')  I have a car
            input(type="submit", value="Sort")

    
        label(for="filter") Email Domian:
        br
        form(action="/api/filter", method='POST')  
            input#lname(type="text", name="filter" required)
            input(type="submit", value="Filter")
        br
        each i in message 
            a(href='/api/employee/'+ i[0])
                span= i[0]
            span='    '+i[1]+' '+i[2]
            br
        br

        if paginate != 0
            each i in paginate 
                a(href='/api/all/'+ i)
                    span= '    '+i+' '

        
