html 
    head 
        title=title 
    body

        form(action="/api/sort/1", method='POST')
            input#response(type='radio' name='response' value=1)
            label(for='response')  Sort by First Name
            input#response(type='radio' name='response' value=2)
            label(for='response')  Sort by last Name 
            input#response(type='radio' name='response' value=0)
            label(for='response')  None  
            input(type="submit", value="Sort")

        br
        each i in message 
            a(href='/api/employee/'+ i[0])
                span= i[0]
            span='    '+i[1]+' '+i[2]
            br
        br

        
        each i in paginate 
            a(href='/api/sort/'+ i)
                span= '    '+i+' '

        
